<div class="main-container">
  <div class="container">
    <form class="form">
      <p class="title">Login</p>
      <p class="message">Accedi alla piattaforma ed esplora i contenuti!</p>

      <label>
        <input class="input" type="text" name="username" [(ngModel)]="loginData.username" required>
        <span for="username">Username</span>
      </label>

      <label>
        <input class="input" type="password" name="password" [(ngModel)]="loginData.password" required>
        <span for="password">Password</span>
      </label>

      <button (click)="signIn()" class="submit">Accedi</button>
      <p class="signin">Non hai un account? <a routerLink="/user/register">Registrati!</a></p>
    </form>
  </div>
</div>
