.recipe-detail {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 20px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);

  h1 {
    font-size: 2.5rem;
    color: #FEF8EB;
  }

  p {
    font-size: 1.2rem;
    color: #FEF8EB;
  }

  h2 {
    font-size: 2rem;
    color: #FEF8EB;
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 1rem;
      color: #FEF8EB;
      margin: 5px 0;
    }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}
