<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" routerLink="/">
        <img class="logo" src="https://res.cloudinary.com/dwvgzj0h6/image/upload/v1720131536/flavor_hub_logo_bz0pvx.png" alt="logo">
      </a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>

        <div class="paste-button ">
          <button class="button">Ricette Salutari &nbsp; ▼</button>
          <div class="dropdown-content">
            <a id="top" routerLink="/recipe/vegan">Vegan</a>
            <a id="middle" routerLink="/recipe/vegetarian">Vegetarian</a>
            <a id="bottom" routerLink="/recipe/gluten-free">Gluten Free</a>
          </div>
        </div>

        <li class="nav-item">
          <a class="nav-link" routerLink="/recipe/user" *ngIf="isUserLoggedIn">Le Mie Ricette</a>
        </li>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end auth-btns">
        <a class="btn btn-register" routerLink="/user/register" *ngIf="!isUserLoggedIn">Register</a>
        <a class="btn btn-login" routerLink="/user/login" *ngIf="!isUserLoggedIn">Login</a>
        <button (click)="logout()" *ngIf="isUserLoggedIn" class="btn btn-exit">Esci</button>
      </div>
    </div>
  </div>
</nav>
