<div class="main-container mt-5">
  <div class="container">
    <form class="form mt-5">
      <p class="title">Registrati</p>
      <p class="message">Entra a far parte di Flavor Hub!</p>
      <div class="flex">
        <label>
          <input class="input" type="text" name="firstName" [(ngModel)]="registerData.firstName" required>
          <span for="firstName">Nome</span>
        </label>

        <label>
          <input class="input" type="text" name="lastName" [(ngModel)]="registerData.lastName" required>
          <span for="lastName">Cognome</span>
        </label>
      </div>

      <label>
        <input class="input" type="text" name="username" [(ngModel)]="registerData.username" required>
        <span for="username">Username</span>
      </label>

      <label>
        <input class="input" type="email" name="mail" [(ngModel)]="registerData.email" required>
        <span for="mail">Email</span>
      </label>

      <label>
        <input class="input" type="password" name="password" [(ngModel)]="registerData.password" required>
        <span for="password">Password</span>
      </label>

      <button (click)="signUp()" class="submit">Invia</button>
      <p class="signin">Hai già un account? <a routerLink="/auth/login">Accedi!</a></p>
    </form>
  </div>
</div>

<svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28 " preserveAspectRatio="none">
<defs>
  <path id="gentle-wave" d="M-160 44c30 0
58-18 88-18s
58 18 88 18
58-18 88-18
58 18 88 18
v44h-352z" />
</defs>
<g class="parallax1">
  <use xlink:href="#gentle-wave" x="50" y="3" fill="#fbcb09" />
</g>
<g class="parallax2">
  <use xlink:href="#gentle-wave" x="50" y="0" fill="#B1D39E" />
</g>
<g class="parallax3">
  <use xlink:href="#gentle-wave" x="50" y="9" fill="#D84A33" />
</g>
<g class="parallax4">
  <use xlink:href="#gentle-wave" x="50" y="6" fill="none" />
</g>
</svg>
