<div class="main-container">
  <div class="container">
    <div *ngIf="showSuccessBanner" class="alert alert-success" role="alert">
      Ricetta creata con successo!
    </div>

    <div *ngIf="showErrorBanner" class="alert alert-error" role="alert">
      Inserire tutti i campi!
    </div>

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="form">
      <p class="title mx-auto">Crea Ricetta</p>
      <p class="message">Crea la tua Ricetta Unica!</p>

      <label>
        <input class="input" type="text" formControlName="title" required>
        <span>Titolo</span>
      </label>

      <label>
        <input class="input" type="text" formControlName="description" required>
        <span>Descrizione</span>
      </label>

      <div class="row">
        <label class="col">
          <input class="input" type="number" formControlName="preparationTime" required>
          <span class="time">Tempo di Preparazione</span>
        </label>
        <label class="col">
          <input class="input" type="number" formControlName="cookingTime" required>
          <span class="time">Tempo di Cottura</span>
        </label>
      </div>

      <div class="row">
        <div class="col">
          <label class="dropdown-label">
            <span class="ms-2">Ingredienti</span>
            <div class="dropdown-list">
              <div
                *ngFor="let ingredient of ingredients"
                (click)="toggleIngredientSelection(ingredient.id)"
                class="dropdown-item"
                [class.selected]="isIngredientSelected(ingredient.id)">
                {{ingredient.name}}
              </div>
            </div>
          </label>
        </div>

        <div class="col">
          <label class="dropdown-label">
            <span class="ms-2">Utensili</span>
            <div class="dropdown-list">
              <div
                *ngFor="let utensil of utensils"
                (click)="toggleUtensilSelection(utensil.id)"
                class="dropdown-item"
                [class.selected]="isUtensilSelected(utensil.id)">
                {{utensil.name}}
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="checkbox-group customCheckBoxHolder">
        <div *ngFor="let tag of tags">
          <input class="customCheckBoxInput" [id]="'tag' + tag.id" type="checkbox" [value]="tag.id" (change)="onTagChange($event)">
          <label class="customCheckBoxWrapper" [for]="'tag' + tag.id">
            <div class="customCheckBox">
              <div class="inner">{{tag.name}}</div>
            </div>
          </label>
        </div>
      </div>

      <button class="submit" type="submit" [disabled]="!recipeForm.valid">Salva</button>
    </form>
  </div>
</div>
