/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #333333 !important;
}

/* Stili globali per la scrollbar per WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #A8D899;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DA4935;
}




