<section class="hero">
  <div class="content">
    <img class="hero-img" src="https://res.cloudinary.com/dwvgzj0h6/image/upload/v1720395304/p8ldgnl6i3dsfcui5qkw.png"
      alt="">
    <div class="title-div">
      <h2 class="hero-title">Be Part of <span class="flavor">FLAVOR</span><span class="hub"> HUB!</span></h2>
      <p class="hero-p">Crea nuove Ricette ed esplora il Gusto</p>
    </div>

  </div>
  <div class="waves"></div>
</section>

<div class="under-hero-div">
  <div class="container">
    <div class="row">
      <div>

        <div class="search-bar mx-auto">
          <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-12">
              <div class="form">
                <svg viewBox="0 0 24 24" class="search__icon">
                  <g>
                    <path
                      d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                    </path>
                  </g>
                </svg>
                <input type="text" class="form-control form-input"
                  placeholder="Cerca ricetta per nome, ingrediente, utensile.." [(ngModel)]="query"
                  (input)="searchRecipes()">
              </div>
            </div>
          </div>
        </div>

        <div class="create-btn" *ngIf="isUserLoggedIn">
          <button routerLink="/recipe/create" class="Btn">
            <div class="sign">+</div>
            <div class="text">Crea</div>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="searched-div" *ngIf="searchedRecipes && searchedRecipes.length > 0">
  <div class="recipe-list">
    <div class="recipe-title d-flex justify-content-center pt-3 pb-3">
      <h3>Risultati della Ricerca:</h3>
    </div>
    <div class="row g-5 px-0 mx-0 mt-2 mb-5">
      <div *ngFor="let recipe of searchedRecipes" class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
      </div>
    </div>
  </div>
  <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z" />
    </defs>
    <g class="parallax1">
      <use xlink:href="#gentle-wave" x="50" y="3" fill="#fbcb09" />
    </g>
    <g class="parallax2">
      <use xlink:href="#gentle-wave" x="50" y="0" fill="#B1D39E" />
    </g>
    <g class="parallax3">
      <use xlink:href="#gentle-wave" x="50" y="9" fill="#D84A33" />
    </g>
    <g class="parallax4">
      <use xlink:href="#gentle-wave" x="50" y="6" fill="#fbcb09" />
    </g>
  </svg>
</div>

<div class="recipe-title d-flex justify-content-center pt-3 pb-3">
  <h3>
    Tutte le Vostre Ricette:
  </h3>
</div>

<div class="row g-5 px-0 mx-0 mt-2 mb-5">
  <div *ngFor="let recipe of recipeArr" class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>
</div>
