<div class="top-div">
  <div class="h-divs">
    <h1 class="h1">Be Part of Flavor-Hub</h1>
  </div>
  <div class="h-divs">
    <h2 class="h2">Crea la tua ricetta ed esplora il gusto</h2>
  </div>
</div>

<div class="under-hero-div">
  <div class="search">
    <div class="search-box">
      <div class="search-field">
        <input placeholder="Cerca Ricetta..." class="input" type="text">
        <div class="search-box-icon">
          <button class="btn-icon-content">
            <i class="search-icon">
              <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  fill="#fff"></path>
              </svg>
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="create-btn">
    <button class="button" type="button">
      <span class="button__text">Crea Ricetta</span>
      <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <line x1="12" x2="12" y1="5" y2="19"></line>
          <line x1="5" x2="19" y1="12" y2="12"></line>
        </svg></span>
    </button>
  </div>
</div>
