//Hero Section
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero {
  position: relative;
  background: #333333;
  color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  width: 620px;
  position: absolute;
  left: 15px;
  bottom: 6px;
  z-index: 1;
  animation: float 15s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .hero-img {
    width: 550px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 560px) {
  .hero-img {
    width: 450px;
    margin-bottom: 5rem;
  }
}

.hero-title {
  position: relative;
  font-size: 6rem;
  margin: 20px 0 20px 2.5rem;
  width: 50rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  z-index: 3;
}
@media screen and (max-width: 900px) {
  .hero-title {
    font-size: 4.5rem;
    width: 80%;
    margin: 0 auto;
  }
}

.hero-p {
  position: relative;
  font-size: 3rem;
  margin-left: 2.5rem;
  width: 70rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  z-index: 3;
}
@media screen and (max-width: 1500px) {
  .hero-p {
    width: 80%;
    font-size: 2rem;
    margin: 0 auto;
  }
}

/* ========================= */

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #fbcb09;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}
.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}
.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, 1);
  animation: waves 20s linear infinite;
}
.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 35s linear infinite;
  z-index: 2;
}
@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


.under-hero-div {
  position: sticky;
  top: 72px;
  z-index: 50;
  background-color: #ffffff;
  height: 200px;
}
.recipe-title {
  position: sticky;
  top: 270px;
  z-index: 30;
  background-color: #ffffff;
}

.searched-div {
  background-color: white;
}


//Search Bar
.search-bar {
  margin: 70px 0;
}
.form{
  position: relative;
}
.form .fa-search{
  position: absolute;
  top:20px;
  left: 20px;
  color: #ffd500;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{

  padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}

//Crea Ricetta Button
.create-btn {
  margin: 70px 0;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px / 2);
  border: none;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2.2em;
  color: white;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 15px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 15px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

//Onde Divisorie

.editorial {
  width: 100%;
  height: 100px;
  max-height: 100px;
  margin: 0;
  z-index:5;
  bottom:0;
  left:0px;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
