<section class="hero">
  <div class="content">
    <img class="hero-img" src="https://res.cloudinary.com/dwvgzj0h6/image/upload/v1720395304/p8ldgnl6i3dsfcui5qkw.png" alt="">
    <div class="title-div">
      <h2 class="hero-title">Be Part of FLAVOR HUB!</h2>
      <p class="hero-p">Crea nuove Ricette ed esplora il Gusto</p>
    </div>
  </div>
  <div class="waves"></div>
</section>

<div class="under-hero-div">

  <div class="container mt-2">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">

        <div class="search-bar mx-auto">

          <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-12">

              <div class="form">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="text" class="form-control form-input" placeholder="Cerca ricetta.." [(ngModel)]="query"
                  (input)="searchRecipes()">
              </div>

            </div>
          </div>


        </div>

        <div class="create-btn ml-auto" *ngIf="isUserLoggedIn">
          <button routerLink="/recipe/create" class="Btn">
            <div class="sign">+</div>
            <div class="text">Crea</div>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="searched-div" *ngIf="searchedRecipes && searchedRecipes.length > 0">
    <div class="recipe-list">
      <div class="d-flex justify-content-center mt-1">
        <h3 class="search-title">Risultati della Ricerca:</h3>
      </div>
      <div class="row g-5 px-0 mx-0 mt-2 mb-5">
        <div *ngFor="let recipe of searchedRecipes" class="col-12 col-sm-6 col-md-4 col-lg-3">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
      </div>
    </div>
    <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0
      58-18 88-18s
      58 18 88 18
      58-18 88-18
      58 18 88 18
      v44h-352z" />
      </defs>
      <g class="parallax1">
        <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
      </g>
      <g class="parallax2">
        <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
      </g>
      <g class="parallax3">
        <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
      </g>
      <g class="parallax4">
        <use xlink:href="#gentle-wave" x="50" y="6" fill="none" />
      </g>
    </svg>
  </div>

</div>
<div class="recipe-title d-flex justify-content-center mt-2">
  <h3>
    Tutte le Vostre Ricette:
  </h3>
</div>

<div class="row g-5 px-0 mx-0 mt-2 mb-5">
  <div *ngFor="let recipe of recipeArr" class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>
</div>
