.card {
  position: relative;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.8rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}

.card-smooth-caption,
.card-img-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

//Nome ricetta
.card-smooth-caption {
  background: linear-gradient(#00000000, #000000fa) #00000000;
  padding: 7px 1rem;
}
.card-title {
  font-weight: bold;
  color: #FEF8EB;
}
.card-footer {
  padding: 1.5rem;
  background-color: transparent;
  border-top: 0;
}

@media (min-width: 576px) {
  .card {
    display: inline-block;
    width: 100%;
  }
  .container {
    max-width: 98%;
  }
}

@media (min-width: 966px) {
  .container {
    max-width: 80%;
  }
}

p.card-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  text-overflow: clip;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #333333;
}

.card.border-0 {
  box-shadow:
  0 1px 3px rgba(0, 0, 0, 0.1),
  0 4px 6px rgba(0, 0, 0, 0.1),
  0 0 10px rgba(255, 255, 255, 0.249);
  text-align: left;
  background-color: #FEF8EB;
  position: relative;
  margin-top: 12px;
  border: 1px solid #FEF8EB;
}

span.badge.badge-light {
  padding: 7px;
  font-size: 12px;
  border-radius: 50px;
  background-image: linear-gradient(#8bc57a, #729e67, #7CAF6F, #69995B);
  box-shadow: 0 0 0.25px #7CAF6F,
    -0.5px -0.75px 1px rgba(105, 153, 91, 0.15) inset,
    -0.75px -1.5px 1.5px rgba(84, 122, 72, 0.05) inset,
    0 -0.5px 0.75px 0.25px #A8D899,
    0 0.5px 0.75px 0.25px #69995B,
    0 -0.75px 2px -0.75px #A8D899,
    0 0.75px 2px -0.75px #69995B,
    -0.5px -2px 3px 0.75px rgba(105, 153, 91, 0.85),
    -1.75px -2.5px 2.5px -0.25px rgba(84, 122, 72, 0.35),
    -0.75px -0.75px 0.625px 0.25px rgba(84, 122, 72, 0.50),
    -0.85px -0.35px 0.85px 0 rgba(67, 98, 56, 0.55),
    -1.25px -1.25px 1.65px 0 rgba(67, 98, 56, 0.25);
}

.card-img-overlay.three {
  content: " ";
  height: 140px;
  width: 100%;
  display: block;
  position: relative;
  background-image: url(https://res.cloudinary.com/dwvgzj0h6/image/upload/v1721087492/a_placeholder_recipe_2_a40vqu.jpg);
  background-size: cover;
  border-radius: 12px 12px 2px 2px;
  background-position: 50% 50%;
}

.card-btns {
  display: flex;
  justify-content: space-around;
}

//Open Recipe Button
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #FBCB09;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #333333;
  border-right: 0.125rem solid #333333;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  color: #333333;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 80%;
}

button:hover .circle .icon.arrow {
  background: #333333;
  transform: translate(1rem, 0);
}

@media (max-width: 1280px) {
  button.learn-more .button-text {
    display: none;
  }
  button:hover .circle {
    width: 40%;
  }
}


//Like Button
.ui-like {
  --icon-size: 35px;
  --icon-secondary-color: rgb(187, 186, 186);
  --icon-hover-color: rgb(189, 156, 156);
  --icon-primary-color: #DA4935;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 40px;
  --icon-anmt-duration: 0.3s;
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  margin-top: 8px;
}

.like::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.like::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */
.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  -webkit-animation: like var(--icon-anmt-duration) forwards;
  animation: like var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
